{% extends 'base.html.twig' %}

{% block title %}Share Photos{% endblock %}

{% block body %}
    <h1>Cropofil<br><span class="subheading">Share photos in original quality and resolution</span></h1>

    <p>Upload your photos:</p>

{% endblock %}
