.ps-gallery {

  .ps-figure {

    .ps-preview-img {
      max-width: 100%;
    }
  }
}

figure {
  margin: 0 auto;
}

.d-none {
  display: none;
}

.exif {
  max-width: 100%;
  word-break: break-all;
  white-space: normal;
}
