<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <title>{% block title %}{% endblock %} - Cropofil</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
    {% block head %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Cropofil">
        {# <meta name="twitter:image" content="https://clearmortgagecapital.com/img/home_bg.png"> #}
        <meta name="twitter:description" content="Share photos in original quality and resolution">
        <meta property="og:locale" content="en_US" />
        <meta property="og:site_name" content="Cropofil" />
        <meta name="description" content="Share photos in original quality and resolution. Simple Free High Quality Photos Sharing.">
        <meta name="keywords" content="HQ, Resolution, File Sharing, Photos Sharing">
        <meta property="og:title" content="Cropofil">
        <meta property="og:type" content="website">
        <meta property="og:url" content="/">

        {# <meta property="og:image" content="https://clearmortgagecapital.com/img/home_bg.png"> #}
        {# <meta property="og:image:secure_url" content="https://clearmortgagecapital.com/img/home_bg.png"> #}

        <meta property="og:description" content="Share photos in original quality and resolution.">
    {% endblock %}
</head>
<body>
<h1><a href="{{ path('app_home') }}">Cropofil</a><br><span class="subheading">Share photos in original quality and resolution</span></h1>
{% block body %}{% endblock %}
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
